# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Amy L. Hewitt
email: amyhewitt88@gmail.com
description: >- # this means to ignore newlines until "baseurl:"
  Hi! I'm an Information Developer at Arm with a PhD in Astrophysics aimed at detecting continuous gravitational waves from pulsars.
github_username: alhewitt
minimal_mistakes_skin: default
search: true
teaser: /assets/img/zach_psr.png

# Build settings
markdown: kramdown
remote_theme: mmistakes/minimal-mistakes
# Outputting
permalink: /:categories/:title/
paginate: 5 # amount of posts to show
paginate_path: /page:num/
timezone: # https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
future: true

include:
  - _pages

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

# Plugins (previously gems:)
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache

author:
  name   : "Amy L. Hewitt"
  avatar : "/assets/img/portrait.jpg"
  bio    : "Hi! I'm an Information Developer at Arm with a PhD in Astrophysics aimed at detecting continuous gravitational waves from pulsars."
  links:
    - label: "Kaggle"
      icon: "fab fa-fw fa-kaggle"
      url: "https://www.kaggle.com/amyhewitt"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/alhewitt"
    - label: "LinkedIn"
      icon: "fab fa-fw fa-linkedin"
      url: "https://uk.linkedin.com/in/amy-l-hewitt"
    - label: "ORCiD"
      icon: "fab fa-fw fa-orcid"
      url: "https://orcid.org/0000-0002-1255-3492"

footer:
  links:
    - label: "Kaggle"
      icon: "fab fa-fw fa-kaggle"
      url: "https://www.kaggle.com/amyhewitt"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/alhewitt"
    - label: "LinkedIn"
      icon: "fab fa-fw fa-linkedin"
      url: "https://uk.linkedin.com/in/amy-l-hewitt"
    - label: "ORCiD"
      icon: "fab fa-fw fa-orcid"
      url: "https://orcid.org/0000-0002-1255-3492"

defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      show_date: true
      read_time: true
      comments: true
      share: true
      related: true
      
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: true

category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/
